<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cinegy Air Region Control</title>
    <!--http://stackoverflow.com/questions/25557299/internet-explorer-11-disable-display-intranet-sites-in-compatibility-view-via-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./stylesheets/index.css"/>

    <script type="text/javascript" src="./javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="./javascripts/knockout-3.4.0.js"></script>
    <script type="text/javascript" src="./javascripts/index.js"></script>
</head>
<body>

<div id="mainHeader">
    <div id="mainHeaderProductName">Cinegy Air Regional Control</div>
</div>
  
<div class="engineList">    
    <div class="groupBoxLabel">ENGINES - NORTH</div>
    <div class="groupBox">
        <table>
            <tr>
                <td>
                    <div class="buttonCaption">NTH1</div>
                    <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['NTH1']), css: ButtonIsDepressed('NTH1') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">NTH2</div>
                    <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['NTH2']), css: ButtonIsDepressed('NTH2') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">NTH3</div>
                        <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['NTH3']), css: ButtonIsDepressed('NTH3') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>  
                <td>
                    <div class="buttonCaption">NTH4</div>
                        <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['NTH4']), css: ButtonIsDepressed('NTH4') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>  
                <td>
                    <div class="buttonCaption">NTH5</div>
                        <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['NTH5']), css: ButtonIsDepressed('NTH5') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption buttonCaption-selectAll">ALL</div>
                    <div type="button" class="btn btn-select" style="margin: 0px 0 10px 50px" data-bind="click: onToggleButtons.bind($data, ['NTH1','NTH2','NTH3','NTH4','NTH5'])" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="engineList">    
    <div class="groupBoxLabel">ENGINES - EAST</div>
    <div class="groupBox ">
        <table>
            <tr>
                <td>
                    <div class="buttonCaption">EST1</div>
                    <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['EST1']), css: ButtonIsDepressed('EST1') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">EST2</div>
                    <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['EST2']), css: ButtonIsDepressed('EST2'') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">EST3</div>
                        <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['EST3']), css: ButtonIsDepressed('EST3') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>  
                <td>
                    <div class="buttonCaption">EST4</div>
                        <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['EST4']), css: ButtonIsDepressed('EST4') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>  
                <td>
                    <div class="buttonCaption buttonCaption-selectAll">ALL</div>
                    <div type="button" class="btn btn-select" style="margin: 0px 0 10px 50px" data-bind="click: onToggleButtons.bind($data, ['EST1','EST2','EST3','EST4'])" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
            </tr>
        </table>
    
    </div>
</div>    

<div class="engineList">    
    <div class="groupBoxLabel">ENGINES - SOUTH</div>
    <div class="groupBox ">
        <table>
            <tr>
                <td>
                    <div class="buttonCaption">STH1</div>
                    <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['STH1']), css: ButtonIsDepressed('STH1') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">STH2</div>
                    <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['STH2']), css: ButtonIsDepressed('STH2') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">STH3</div>
                        <div type="button" class="btn btn-select" data-bind="click: onToggleButtons.bind($data, ['STH3']), css: ButtonIsDepressed('STH3') == false ? 'btn btn-select' : 'btn btn-select-depressed'" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption buttonCaption-selectAll">ALL</div>
                    <div type="button" class="btn btn-select" style="margin: 0px 0 10px 50px" data-bind="click: onToggleButtons.bind($data, ['STH1','STH2','STH3'])" >
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>      
    
<div class="engineActions">  
    <div class="groupBoxLabel">AIR COMMANDS</div>  
    <div class="groupBox groupBox-actions">
        <table>
            <tr>
                <td>
                    <div class="buttonCaption">GO NORML</div>
                    <div type="button" data-bind="click: onGoNormal, css: CanGoNormal() == false  ? 'btn btn-disable' : 'btn btn-goNormal'">
                        <div class="square" style="background: black"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">START CUED</div>
                    <div type="button"  data-bind="click: onStartCued, css: CanStartCued() == false ? 'btn btn-disable' : 'btn btn-startCued'">
                        <div class="circle" style="background: white"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">GO LIVE</div>
                    <div type="button" data-bind="click: onGoLive, css: CanGoLive() == false ? 'btn btn-disable' : 'btn btn-goLive'">
                        <div class="circle" style="background: white"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">GO CLEAN</div>
                    <div type="button" data-bind="click: onGoClean, css: CanGoClean() == false ? 'btn btn-disable' : 'btn btn-goClean' ">
                        <div class="circle" style="background: white"></div>
                    </div>
                </td>
                <td>
                    <div class="buttonCaption">GO BLACK</div>
                    <div type="button" data-bind="click: onGoBlack, css: CanGoBlack() == false ? 'btn btn-disable' : 'btn btn-goBlack' ">
                        <div class="circle" style="background: white"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>      
</div>

</body>
</html>